# Intro to  Python

Python was developed by Guiddo van Rossum in 1991. The name of the python was given on the series name of Monty python's flying circus(this is a comedy show). 
To use python as a calculator write python and press enter in the terminal to use it as a REPL(Read Evaluate Print Loop).

## Comments

In [ ]:
Comments are used to write the things which the user do not want to execute. There are two  types of  comments:
1. Single line comments: start with a (#)hash symbol.
2.Multiline comments: start and ends with (''' ...''')or("""....""").

To print twinkle twinkle little star poem or any other poem with the break of line write that poem in the print function by using a multiline comments inside it.
print('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the trav'ller in the dark,
Thanks you for your tiny spark,
He could not see which way to go,
If you did not twinkle so.

In the dark blue sky you keep,
And often thro' my curtains peep,
For you never shut your eye,
Till the sun is in the sky.

'Tis your bright and tiny spark,
Lights the trav'ller in the dark:
Tho' I know not what you are,
Twinkle, twinkle, little star.''')

on writing this it will give the same output as it is written in the given input.

In [2]:
print("Hello") #print is the function which helps in printing the result

Hello

## Module and pip

Module is simply a file containing Python code (functions, classes, and variables) that can be reused in other programs. Modules help organize code and make it reusable.
Pip is a package manager for python.It is used to install a module in our system.  
Moduules are of 2 types:
1. built-in modules:these modules are pre installed in python. (example:os).
2. external modules: these module are need to be install using pip.(example:tensorflow,flask).

## Variables and data types

variables are name given to memory location in a program. 
Variables are the container to store the values.
Keywords are the reserved words in python.
Identifiers are the class/function/variable name.

### Rules for defining the variable name:(these rules are also applicable to the identifiers also)

1.Variable name can contain alphabets,digits and underscores.

2.Variable name can start with an underscore or with the alphabet.

3.Variable name can't start with the digits.

4.No white spaces are allowed to use inside the variable name.

examples:_sum,heaven_,one8,etc

### DATA Types

Data types are the types of data which are stored in the laptop.There is a benefit in a  Python that it automatically identifies the type of data.

Data types are classified into 5 types:

1.Integer
2.Float
3.String
4.Boolean
5.None

### Operators

Operators are the symbols which are used to perform the operations between one or more than one operand.
    
Operators are classified into 4 types:

1.Arithmetic operator
2.Assignment operator
3.Relational Operator
4.Logical operator

### Type () Function and Typecasting

Type() function is used to find the data type of the given function.

In [6]:
#example:

a=5
type(a)

int

In [8]:
word="hello"
type(word)

str

In [9]:
b=8.45
type(b)

float

Typecasting helps in converting the one datatype to another datatype.

In [13]:
#example
a=5
b=str (a)
type (b)

int

In [14]:
a=5
b=float (a)
print(b)

5.0

### input() function

In [ ]:
It is used to take the input from the user as a string

In [17]:
#example
a=input("enter a")
b=input("enter b")
sum=a+b
print(sum)

enter a 5
enter b 6

56

to make the string from int we use typecasting method in the input() method

In [18]:
#example
a=int(input("enter a"))
b=int(input("enter b"))
sum=a+b
print(sum)

enter a 5
enter b 6

11

## Strings

In [ ]:
String is a sequence of characters enclosed in quotes.
String can be represented in 3 types:
1.with single quotes, examaple:'Harry'
2.with double quotes, example:"Harry"
3.with triple quotes, example:'''Harry'''